body{
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
}

.body {
    padding: 0 100px;
    
}

.hero {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.header {
     
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    padding: 8px;
}

.links {
    display: flex;
    gap: 16px;
    list-style: none;
    font-size: 18px;
    padding: 0 8px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.container {
    display: flex;
    padding: 50px 0;

}

.text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}



.main_title {
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.subtext {
    flex-wrap: wrap;    
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    border: none;
    font-family: Roboto, sans-serif;
    border-radius: 8px;
    padding: 8px 24px;
}

img {
    width: 100vh;
    
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
    gap: 16px;
    text-align: center;
}

.box_info{
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.box {
    max-width: 100px;
}

.illustration {
    border: solid;
    width: 100px;
    height: 100px;
    color: #3882f6;
    border-radius: 8px;
}

.quote {
    padding: 100px 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #E5E7EB;
}

.lorem {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.author {
    align-self: flex-end;
    font-size: 18px;
    font-weight: bold;
}

.background {
    background: #3882f6;
    border-radius: 8px;
}

.thing {
    display: flex;
    padding: 50px 0;
    flex: 1;
}

.call {
    justify-content: center;
    align-items: center;
}

.big {
    font-size: 20px;
    font-weight: bold;
    color: #E5E7EB;
}

.blah {
    font-size: 16px;
    color: #E5E7EB;
}

.end {
    justify-content: flex-end;
}

.footer {
    display: flex;
    background-color: #1f2937;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}